body{
	background-color: rgba(236, 239, 241, 1);
}

.navbar-default{
	height: 20rem;
	background-color: rgba(255, 138, 101, 0.95);
	border-radius: 0px 0px 10px 10px;
}

.logo-img{
	width: 200px;
}

.redes-sociales{
	margin-right: 2rem;
	margin-top: 8rem;
	margin-bottom: 3rem !important;
}

.icons{
	width: 40px;
}

.navbar-menu{
	border-radius: 0px 0px 10px 10px;
}

.container-article{
	border-radius: 10px 0px 10px 10px;
	margin-top: 1rem;
	background-color: rgba(255, 204, 188, 0.5);
}

.titulo-post{
	margin-top: 2rem;
}

#video-post{
	margin-top: 2rem;
	margin-left: 3rem;
	float: right;
}

.video{
	width: 400px;
}

#img-post{
	margin-left: 0.5rem;
	float: left;
}

#text-post{
	float: right;
}

.image{
	margin-top: 2rem;
	width: 300px;
}

#right-column{
	max-height: 65rem;
	border-radius: 0px 10px 10px 0px;
	margin-top: 1rem;
	background-color: rgba(255, 204, 188, 0.5);
}

.buscador{
	margin: 0.5rem;
	display: inline-flex;
}

@media(max-width: 600px){
	.redes-sociales{
		margin-left: 3rem;
		margin-top: 4rem;
	}

	#video-post{
		float: none;
	}

	.video{
		margin-bottom: -1rem;
		margin-top: 1rem;
		margin-left: -3rem;
		width: 100%;
	}

	#img-post{
		float: none;
	}

	.image{
		width: 95%;
		margin-bottom: -1rem;
		margin-right: 1rem;
	}

	.avatar{
		float: left;
	}

	.form-control{
		float: right;
		width: 80%;
	}

	#right-column{
		display: none;
	}

}
